- const getInputName = (property) => `data[${property}]`
- const getInputId = (property) => `data_${property}`

mixin formFor(entity = null)
  form&attributes(attributes)
    block

mixin input(entity, propertyName, errors = {})
  - propertyErrors = _.get(errors, propertyName)
  - classLine = 'form-control' + (_.isEmpty(propertyErrors) ? '' : ' is-invalid')
  - inputId = getInputId(propertyName)
  .mb-3(class=(errors[propertyName] && 'has-danger'))
    label(
      for= inputId
    )= t(`views.${propertyName}`)
    input(
      id= inputId
      name=getInputName(propertyName)
      class=classLine
      value=_.get(entity, propertyName, '')
    )&attributes(attributes)
    if !_.isEmpty(propertyErrors)
      .invalid-feedback= propertyErrors.map(({ message }) => message).join('. ')

mixin submit(form = null)
  input(class='btn btn-primary' type='submit')&attributes(attributes)

mixin buttonTo(action, method)
  form(action=action, method="post")
    input(name="_method" type="hidden" value=method)
    input(type='submit')&attributes(attributes)

mixin select(entity, propertyName, items, options = {})
  - inputId = getInputId(propertyName)
  - selectedValue = _.get(entity, propertyName)
  - const getDisplay = (item) => options.displayKeys ? options.displayKeys.map((k) => item[k]).join(' ') : item[options.displayKey || 'name']
  .mb-3
    label(for=inputId)= t(`views.${propertyName}`)
    select.form-control(name=getInputName(propertyName) id=inputId)&attributes(options.attributes || {})
      if options.empty !== false
        option(value="")
      each item in items
        option(value=item.id selected=(String(item.id) === String(selectedValue)))= getDisplay(item)
