extends ../layouts/application.pug

block content
  .card.mb-3
    .card-body
      form(method="get" action=route('tasks'))
        .row
          .col
            .mb-3
              label(for="executorId")= t('views.tasks.executor')
              select.form-control(name="executorId" id="data_executor")
                option(value="")
                each user in users
                  option(value=user.id selected=(String(filters.executorId) === String(user.id)))= `${user.firstName} ${user.lastName}`
          .col
            .mb-3
              label(for="statusId")= t('views.tasks.status')
              select.form-control(name="statusId" id="data_status")
                option(value="")
                each status in statuses
                  option(value=status.id selected=(String(filters.statusId) === String(status.id)))= status.name
          .col
            .mb-3
              .form-check.mt-4
                input.form-check-input(type="checkbox" name="creatorId" id="creatorId" value=currentUser ? currentUser.id : '' checked=!!filters.creatorId onchange="this.form.submit()")
                label.form-check-label(for="creatorId")= t('views.tasks.isMyTasks')
        button.btn.btn-primary(type="submit")= t('views.tasks.filter')
  a.btn.btn-primary.mb-3(href=route('newTask'))= t('views.tasks.new.signUp')
  table.table.table-striped
    thead
      tr
        th= t('views.tasks.id')
        th= t('views.tasks.name')
        th= t('views.tasks.status')
        th= t('views.tasks.creator')
        th= t('views.tasks.executor')
        th= t('views.tasks.createdAt')
        th
    tbody
      each task in tasks
        tr
          td= task.id
          td
            a(href=route('showTask', { id: task.id }))= task.name
          td= task.status ? task.status.name : ''
          td= task.creator ? `${task.creator.firstName} ${task.creator.lastName}` : ''
          td= task.executor ? `${task.executor.firstName} ${task.executor.lastName}` : ''
          td= formatDate(task.createdAt)
          td
            a(href=route('editTask', { id: task.id }))= t('views.tasks.edit')
          td
            +buttonTo(route('deleteTask', { id: task.id }), 'delete')(class="btn btn-link nav-link" value=t('views.tasks.delete'))
