extends ../layouts/application.pug

block header
  = t('views.tasks.show.header')

block content
  table.table
    tbody
      tr
        th= t('views.tasks.show.name')
        td= task.name
      tr
        th= t('views.tasks.show.description')
        td= task.description || ''
      tr
        th= t('views.tasks.show.status')
        td= task.status ? task.status.name : ''
      tr
        th= t('views.tasks.show.creator')
        td= task.creator ? `${task.creator.firstName} ${task.creator.lastName}` : ''
      tr
        th= t('views.tasks.show.executor')
        td= task.executor ? `${task.executor.firstName} ${task.executor.lastName}` : ''
      tr
        th= t('views.tasks.show.labels')
        td= task.labels ? task.labels.map(l => l.name).join(', ') : ''
      tr
        th= t('views.tasks.show.createdAt')
        td= formatDate(task.createdAt)

  if isAuthenticated()
    p
      a.btn.btn-primary(href=route('editTask', { id: task.id }))= t('views.tasks.show.edit')
      |
      form(action=route('deleteTask', { id: task.id }) method='post' style='display:inline')
        input(name="_method" type="hidden" value="delete")
        input(type='submit' value=t('views.tasks.show.delete') class='btn btn-danger')
